<div class= "Menus">
    <b> <%= link_to 'HackerNews', contributions_path %></b>
    <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
    <td> | <%= link_to 'Submit', new_contribution_path %></td>
</div>
<h1>Editing Contribution</h1>

<%= render 'form', contribution: @contribution %>

