<body class="page">
   
    <div class = Menus>
    <td style="width:5px;padding-right:2px"><a href= "/" ><img src="https://news.ycombinator.com/y18.gif" width="13" height="13" style="border:1px white solid;"></a></td>                
    <b>Submit</b>
    </div>
    
    <div class = "subpage">
    <%= render 'form', contribution: @contribution %>
    
    </div>
    
</body>
