<body class="page">
    <div class = Menus>
        <b>Submit</b>
        </div>
    
    <div class = "subpage">
    <%= render 'form', contribution: @contribution %>
    
    <%= link_to 'Back', contributions_path %>
    </div>
</body>
