
<body class="page">
   
    <div class = Menus>
 <b> <%= link_to '| Y |', contributions_path %></b>
        <b>Submit</b>
        </div>
    
    <div class = "subpage">
    <%= render 'form', contribution: @contribution %>
    
    </div>
    
</body>
