/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.page {
  background-color: #FFFFFF;
}

.Menus {
    padding: 1em;
    width: auto;
    background-color: #ff6600;
}

.Menus a:link, a:visited {
    background-color: #ff6600;
    color: black;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

b {
    font-weight: bold;
}

.subpage {
    background-color: #f6f6ef;
    padding: 0.5em;
    width: auto;
    height: auto;
}
