// Place all the styles related to the contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page {
  background-color: #FFFFFF;
      text-decoration: none;

}
.page a:link{
    text-decoration: none;
}
.Menus {
    padding: 1em;
    width: auto;
    background-color: #ff6600;
}

.Menus a:link{
    background-color: #ff6600;
    color: black !important;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.Menus a:visited {
    background-color: #ff6600 !important;
    color: black;
}

b {
    font-weight: bold;
}

.url_post{
    color: #828282 !important;
    font-size: 8pt;
}

.subpage {
    background-color: #f6f6ef;
    padding: 0.5em;
    width: auto;
    height: auto;
}

.subpage a:visited{
    background-color: #f6f6ef !important;
}

.comment {
    left: 15px;
    position: relative;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    font-size: 15pt;
    padding: 0.25em;
}

.info {
    top: 0px;
    position: relative;
}

.area {
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    color: -internal-quirk-inherit; 
    text-align: start;
    border-spacing: 2px;
    left: 15px;
    position: relative;

}

.text {
    left: 15px;
    color: #696F75;
    position: relative;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.user{
    float: right;
}


.table {
       display:table;
       width:100%;
}
.tr {
       display:table-row;
}
.d1 {
       display:table-cell;
       width:25%;
}
.d2 {
       display:table-cell;
       text-align:center;
       width:50%;
}
.d3 {
       display:table-cell;
       text-align:right;
       width:25%;
}